streamlit==1.29.0
requests==2.31.0
openai==1.12.0
python-dotenv==1.0.0
langchain-core==0.1.23
langchain-ollama==0.1.2
langchain-text-splitters==0.0.1
langchain-community==0.0.25
typing-extensions==4.5.0
PyPDF2==3.0.1
